@font-face {
    font-family: 'BalooBold';
    src: url('../fonts/Baloo2-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BalooMedium';
    src: url('../fonts/Baloo2-Medium.ttf') format('truetype');
}

:root {
    --gradientColor1: #1D3860;
    --gradientColor2: #072045;
    --dashedLineColor: #254982;
    --outlineColor: #F3F589;
    --hundredColor: #6EF063;
    --fiftyColor: #F0E263;
    --missColor: #F06363;
}

* {
    font-family: 'BalooBold';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-inline: 20px;
    color: white;
    line-height: 1;
    display: flex;
}

.odometer {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-family: 'BalooBold';
    font-size: inherit;
    color: inherit;
}

.odometer .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.odometer .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}

.odometer .odometer-digit-inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.odometer .odometer-ribbon {
    display: block;
}

.odometer .odometer-ribbon-inner {
    display: block;
    backface-visibility: hidden;
}

.odometer .odometer-value {
    display: block;
    transform: translateZ(0);
}

.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down .odometer-ribbon-inner {
    transition: transform 300ms;
    transform: translateY(0);
}

.odometer.odometer-animating-up .odometer-animating .odometer-ribbon-inner {
    transform: translateY(-100%);
}

.odometer.odometer-animating-down .odometer-animating .odometer-ribbon-inner {
    transform: translateY(0);
	width: auto;
}

.main-container {
    position: relative;

    width: 570px;
    height: 92px;
    border-radius: 15px;
    border: .3rem solid var(--outlineColor);

    display: flex;

    overflow: hidden;

    background: linear-gradient(to bottom, var(--gradientColor1), var(--gradientColor2));
}

.beat-lighting {
    position: absolute;
    top: 13.5px;

    height: 65px;
    width: 570px;

    box-shadow: 0 0 20px var(--outlineColor);

    animation-name: bpm-animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bpm-animation {
    0% {
        box-shadow: 0 0 20px var(--outlineColor);
    }
    25% {
        box-shadow: 0 0 15px var(--outlineColor);
    }
    75% {
        box-shadow: 0 0 0px var(--outlineColor);
    }
    100% {
        box-shadow: 0 0 5px var(--outlineColor);
    }
}

.border-top-0 {
    border-top: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.border-bottom-0 {
    border-bottom: 0;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.border-left-0 {
    border-left: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.border-right-0 {
    border-right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bg {
    position: absolute;
    width: 100%;

    left: 0;
    right: 0;

    transform: translateY(-15%);

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    right: 0;

    transform: translateY(-6%);

    background-color: rgba(0, 0, 0, .6);
}

.bg-underlay {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    right: 0;

    z-index: -1;

    transform: translateY(-5%);

    background: linear-gradient(to bottom, var(--gradientColor1), var(--gradientColor2));
}

.left {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 60%;

    padding: .3rem;
}

.right {
    width: 40%;
    height: 100%;

    display: flex;

    flex-direction: column;

    border-left: 3px dashed var(--dashedLineColor);
}

.song-info {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;

    z-index: 1;
}

.title {
    position: relative;

    white-space: nowrap;
    font-size: 1.2rem;
}

.diff {
    font-family: 'BalooMedium';
    color: #c2c2c2;

    position: relative;

    white-space: nowrap;
}

.map-info {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 50%;

    z-index: 1;
}

.sr-container {
    align-self: flex-end;

    height: fit-content;
    width: 25%;

    background-color: #F06363;
    padding: .3rem;
    border-radius: calc(15px - .6rem);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 0 0 6px rgba(0, 0, 0, .7);

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sr-container span {
    font-size: 1.1rem;
    transform: translateY(1px);

    color: rgb(255, 221, 85);
}

.sr-star {
    background-color: rgb(255, 221, 85);
    -webkit-mask: url(../assets/star.svg) no-repeat center;
    mask: url(../assets/star.svg) no-repeat center;

    aspect-ratio: 1 / 1;
    height: 1rem;
}

.map-stats {
    align-self: flex-end;
    display: flex;
    font-size: .9rem;
}

.map-stats div:last-child {
    margin-right: 0;
}

.bpm, .cs, .ar, .od, .hp {
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-inline: .25rem;

    line-height: .9;

    width: 1.5rem;

    transform: translateY(3px);

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hit-errors {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 60%;

    border-bottom: 3px dashed var(--dashedLineColor);

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hit {
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;

    align-items: center;
}

.hit-icon {
    width: 2rem;
    height: 7px;

    border-radius: 4px;

    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.green {
    background-color: var(--hundredColor);
}

.yellow {
    background-color: var(--fiftyColor);
}

.red {
    background-color: var(--missColor);
}

.pp {
    position: relative;
    display: flex;

    align-items: center;

    width: 100%;
    height: 40%;

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ppCurrent {
    position: absolute;
    left: 15%;
    transform: translateX(-50%);

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ppFC {
    position: absolute;
    left: 200%;
    transform: translateX(-50%);

    white-space: nowrap;

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slash {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title-wrapper {
    display: flex;
}

.diff-wrapper {
    display: flex;
}

.marquee {
    mask: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
    overflow: hidden;
}

.marquee span {
    animation: 8s marquee infinite linear;
}

.marquee span:first-child {
    margin-right: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px));
    }
}

