@font-face {
    font-family: 'BalooBold';
    src: url('../fonts/Baloo2-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BalooMedium';
    src: url('../fonts/Baloo2-Medium.ttf') format('truetype');
}

:root {
    --gradientColor1: #1D3860;
    --gradientColor2: #072045;
    --dashedLineColor: #254982;
    --outlineColor: #F3F589;
    --hunderdColor: #6EF063;
    --fiftyColor: #F0E263;
    --missColor: #F06363;
}

* {
    font-family: 'BalooBold';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 569px;
    color: white;
}

.Left {
    flex: 6;
    overflow: hidden;
    position: relative;
    height: 92px;
}

.bg-image {
    position: absolute;
    bottom: 5px;
    width: calc(100%); 
    z-index: -1;
    object-fit: cover;
	transition: opacity ease-in-out 200ms;
}

.bg-overlay {
    position: absolute;
    bottom: 5px;
    width: calc(100%);
    background: rgba(0, 0, 0, 0.66); 
    z-index: -1;
}

.bg-i-o-top {
    left: 5px;
    height: calc(100% - 5px);
    border-radius: 0 0 0 10px;
}

.bg-i-o-left {
    top: 5px;
    height: calc(100% - 10px);
}

.bg-i-o-right {
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    border-radius: 10px 0 0 10px;
}

.bg-i-o-none {
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    border-radius: 10px 0 0 10px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 569px;
    height: 92px;
    z-index: -2;
}

.cutoff-top {
    background: linear-gradient(to bottom, var(--gradientColor1), var(--gradientColor2));
    border: 0 solid var(--outlineColor);
    border-bottom: 5px solid var(--outlineColor);
    border-left: 5px solid var(--outlineColor);
    border-right: 5px solid var(--outlineColor);
    border-radius: 0 0 15px 15px;
}

.cutoff-left {
    background: linear-gradient(to bottom, var(--gradientColor1), var(--gradientColor2));
    border: 0 solid var(--outlineColor);
    border-top: 5px solid var(--outlineColor);
    border-bottom: 5px solid var(--outlineColor);
    border-left: 0;
    border-right: 5px solid var(--outlineColor);
    border-radius: 0 15px 15px 0;
}

.cutoff-right {
    background: linear-gradient(to bottom, var(--gradientColor1), var(--gradientColor2));
    border: 0 solid var(--outlineColor);
    border-top: 5px solid var(--outlineColor);
    border-bottom: 5px solid var(--outlineColor);
    border-left: 5px solid var(--outlineColor);
    border-right: 0;
    border-radius: 15px 0 0 15px;
}

.cutoff-none {
    background: linear-gradient(to bottom, var(--gradientColor1), var(--gradientColor2));
    border: 5px solid var(--outlineColor); 
    border-radius: 15px; 
}

.SongInfo {
    margin-top: 0;
    margin-left: .7rem;
    height: 54px;
    margin-right: 7px;
}

.ArtistSong, .Difficulty {
    position: relative;
    overflow: hidden;
    height: 24px;
}

.ArtistSong span, .Difficulty span {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Difficulty span {
    font-family: 'BalooMedium';
    font-size: 16px;
    color: #c2c2c2;
}

.ArtistSong {
    font-size: 20px;
    margin-top: 0;
}

.Difficulty {
    top: -5px;
}

.animate {
    transition: none;
}

.MapInfo {
    display: flex;
    margin-left: .7rem;
    margin-top: -3px;
    justify-content: space-between;
    gap: 50px;
}

.SR {
    display: flex;
    min-width: 85px;
    justify-content: center;
    gap: 5px;
    height: 28px;
    margin-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
    border-radius: 8px;
	transition: ease-in-out 300ms;
    -webkit-filter: drop-shadow(-2px 2px 4px rgba(0,0,0,0.7));
    -moz-filter: drop-shadow(-2px 2px 4px rgba(0,0,0,0.7));
    -ms-filter: drop-shadow(-2px 2px 4px rgba(0,0,0,0.7));
    -o-filter: drop-shadow(-2px 2px 4px rgba(0,0,0,0.7));
}


.SR #sr {
    font-size: 18px;
    width: 40px;
    height: 30px;
    margin-left: 5px;
    margin-top: 1px;
	transition: ease-in-out 300ms;
	-webkit-mask: linear-gradient(to top, transparent 5%, black 30%, black 70%, transparent 95%);
	mask: linear-gradient(to top, transparent 5%, black 30%, black 70%, transparent 95%);
}

.SR #srStar {
    margin-top: 6px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

svg {
	transition: ease-in-out 300ms;
}

.MapStatistics {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 17px;
    font-size: 14px !important;
}

.small {
    font-size: 14px;
}

.BPM p {
    color: #FEFFB8;
}

.BPM #bpm {
    -webkit-mask: linear-gradient(to top, transparent 5%, black 20%, black 80%, transparent 95%);
    mask: linear-gradient(to top, transparent 5%, black 20%, black 80%, transparent 95%);
}

.BPM span {
    transition: ease-in-out 300ms;
    font-size: 14px !important;
    color: #FEFFB8;
}

.Right {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    flex: 4;
    width: 215px;
    margin-right: 5px;
} 


.Hits {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 15px;
    transition: ease-in-out 500ms;
}

.Hits .hit100, .Hits .hit50, .Hits .hit0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.Hits span {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.hit-icon {
    width: 38px;
    height: 8px;
    margin-top: 5px;
    border-radius: 8px;
}

.hit-icon.green {
    background-color: var(--hunderdColor);
}

.hit-icon.yellow {
    background-color: var(--fiftyColor);
}

.hit-icon.red {
    background-color: var(--missColor);
}

.PPS {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    margin-top: 12px;
	-webkit-mask: linear-gradient(to top, transparent 5%, black 30%, black 70%, transparent 95%);
	mask: linear-gradient(to top, transparent 5%, black 30%, black 70%, transparent 95%);
	transition: ease-in-out 500ms;
}

.AlignPP {
    display: flex;
    font-size: 20px;
    flex: 10;
    gap: 2px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	transition: ease-in-out 500ms;
}

.AlignPP span {
    font-size: 20px;
    white-space: nowrap;
    width: auto;
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.PPS p.slash {
    flex: 1;
    font-size: 20px;
    margin-top: 4px;
    color: #ffffff;
	transition: ease-in-out 500ms;
}

.odometer {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-family: 'BalooBold';
    font-size: inherit;
    color: inherit;
}

.odometer .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.odometer .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}

.odometer .odometer-digit-inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.odometer .odometer-ribbon {
    display: block;
}

.odometer .odometer-ribbon-inner {
    display: block;
    backface-visibility: hidden;
}

.odometer .odometer-value {
    display: block;
    transform: translateZ(0);
}

.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down .odometer-ribbon-inner {
    transition: transform 300ms;
    transform: translateY(0);
}

.odometer.odometer-animating-up .odometer-animating .odometer-ribbon-inner {
    transform: translateY(-100%);
}

.odometer.odometer-animating-down .odometer-animating .odometer-ribbon-inner {
    transform: translateY(0);
	width: auto;
}

.dashed-line-vertical {
    position: absolute;
    right: 194px;
    top: 48%;
    transform: translateY(-50%) rotate(90deg);
    width: 75px;
    border: 2px dashed var(--dashedLineColor);
    z-index: 10;
}

.dashed-line-horizontal {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    width: 216px;
    border: 2px dashed var(--dashedLineColor);
    z-index: 10;
    transition: ease-in-out 500ms;
}