@font-face {
    font-family: 'BalooMedium';
    src: url('../fonts/Baloo2-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'BalooBold';
    src: url('../fonts/Baloo2-Bold.ttf') format('truetype');
}

:root {
    --gradientColor1: #1D3860;
    --gradientColor2: #072045;
    --dashedLineColor: #254982;
    --outlineColor: #F3F589;
    --hunderdColor: #6EF063;
    --fiftyColor: #F0E263;
    --missColor: #F06363;
}

* {
    font-family: 'BalooBold';
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 569px;
}

.Left {
    flex: 6;
    overflow: hidden;
    position: relative;
    height: 92px;
}

.bg-image {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: calc(100%); 
    height: calc(100% - 5px);
    border-radius: 0 0 0 15px;
    z-index: -1;
    object-fit: cover;
}

.bg-overlay {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: calc(100%);
    height: calc(100% - 5px);
    border-radius: 0 0 0 15px;
    background: rgba(0, 0, 0, 0.66); 
    z-index: -1;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 569px;
    height: 92px;
    background: linear-gradient(to bottom, var(--gradientColor1), var(--gradientColor2));
    border: 0 solid var(--outlineColor);
    border-bottom: 5px solid var(--outlineColor);
    border-left: 5px solid var(--outlineColor);
    border-right: 5px solid var(--outlineColor);
    border-radius: 0 0 15px 15px;
    z-index: -2;
}

.SongInfo {
    margin-left: 14px;
    height: 54px;
    margin-right: 7px;
}

.ArtistSong, .Difficulty {
    position: relative;
    overflow: hidden;
    height: 30px;
}

.ArtistSong span, .Difficulty span {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Difficulty span {
    font-size: 16px;
    color: #c2c2c2;
}

.ArtistSong {
    margin-top: 0;
}

.Difficulty {
    top: -8px;
}

.animate {
    transition: none;
}

.MapInfo {
    display: flex;
    margin-left: 30px;
    margin-top: -3px;
    justify-content: space-between;
    gap: 50px;
}

.SR {
    display: flex;
    gap: 10px;
    margin-top: -2px
}

.SR img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.MapStatistics {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 15px;
}

.small {
    font-size: 14px;
}

.BPM p {
    color: #FEFFB8;
}

.BPM span {
    color: #FEFFB8;
}

.Right {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    flex: 4;
    width: 215px;
    margin-right: 5px;
} 


.Hits {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 15px;
}

.Hits .hit100, .Hits .hit50, .Hits .hit0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.Hits span {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.hit-icon {
    width: 38px;
    height: 8px;
    margin-top: 5px;
    border-radius: 8px;
}

.hit-icon.green {
    background-color: var(--hunderdColor);
}

.hit-icon.yellow {
    background-color: var(--fiftyColor);
}

.hit-icon.red {
    background-color: var(--missColor);
}

.PPS {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    margin-top: 6px;
}

.AlignPP {
    display: flex;
    flex: 10;
    gap: 2px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.AlignPP span {
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.PPS p.slash {
    flex: 1;
    font-size: 20px;
    margin-top: 4px;
    color: #ffffff;
}

.odometer {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-family: 'BalooBold';
    font-size: 24px;
    color: white;
}

.odometer .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.odometer .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}

.odometer .odometer-digit-inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.odometer .odometer-ribbon {
    display: block;
}

.odometer .odometer-ribbon-inner {
    display: block;
    backface-visibility: hidden;
}

.odometer .odometer-value {
    display: block;
    transform: translateZ(0);
}

.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down .odometer-ribbon-inner {
    transition: transform 300ms;
    transform: translateY(0);
}

.odometer.odometer-animating-up .odometer-animating .odometer-ribbon-inner {
    transform: translateY(-100%);
}

.odometer.odometer-animating-down .odometer-animating .odometer-ribbon-inner {
    transform: translateY(0);
}

.dashed-line-vertical {
    position: absolute;
    right: 188px;
    top: 45%;
    transform: translateY(-50%) rotate(90deg);
    width: 85px;
    border: 2px dashed var(--dashedLineColor);
    z-index: 10;
}

.dashed-line-horizontal {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    width: 216px;
    border: 2px dashed var(--dashedLineColor);
    z-index: 10;
}